body {
    font-family: Arial, sans-serif;
    background-color: #51dbf0;
    color: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.altreuni {
    text-align: left;
    margin-bottom: 20px;
}

.title {
    text-align: center;;
}

table {
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #000;
}