/* CORSI TROVATE */
#corsitrovati {
    margin-bottom: 8px;
}

/* BOTTONI TABELLA */

.toolbar-tabella {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin: 18px 0;
}

.toolbar-tabella .filtri,
.toolbar-tabella .ordina {
    display: flex;
    gap: 10px;
}

.toolbar-tabella select,
.toolbar-tabella button {
    padding: 8px 12px;
    font: inherit;
    background-color: #fff;
    border: 1px solid black;
}

button {
    cursor: pointer;
}

/* TABELLA */

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

.riga-principale td {
    font-weight: 500;
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
}

.riga-dettagli td {
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    font-size: 0.82rem;
    color: #555;
    border-bottom: 1px solid #ccc;
}

/* Zebra: ogni coppia di righe alternata */
tbody tr.riga-principale:nth-child(4n+1) td,
tbody tr.riga-principale:nth-child(4n+1)+tr td {
    background-color: #fff;
}

@media (max-width: 850px) {

    .toolbar-tabella {
        display: flex;
    }

    .filtri, .ordina {
        flex-direction: column;
        margin: 0px;
        gap: 0px;
    }

    .toolbar-tabella select,
    .toolbar-tabella button {
        padding: 4px 2px;
    }
}